.advantages__title {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  margin-top: 31px;
  margin-left: 30px;
  margin-bottom: 82px;
}

.advantages__list {
  margin: 0;
  padding: 0;
}

.advantages__item {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 30px;
  margin-bottom: 82px;

  &--package {
    margin-bottom: 58px;
  }
}
