.contacts__title {
  font-family: "Open Sans" sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.email__title {
  font-family: "Open Sans" sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}

.email__text {
  font-family: "Open Sans" sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}

.adress__title {
  font-family: "Open Sans" sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}

.adress__text {
  font-family: "Open Sans" sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}

.contacts__map-img {
  background-image: url(/img/map-mobile.jpg);
  background-repeat: no-repeat;
  min-height: 454px;
}
