.contacts__title {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  margin-left: 30px;
  margin-top: 38px;
  margin-bottom: 28px;
}

.contacts__map {
  margin-bottom: 42px;
}

.contacts__map-img {
  background-image: url(/img/map-mobile.jpg);
  background-repeat: no-repeat;
  min-height: 454px;
}

.contacts__button {
  margin-bottom: 45px;
}
