.goods-section__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    width: 668px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
  }
}

.goods-section__item {
  list-style-type: none;

  @media (min-width: @tablet-width) {
    width: 50%;
  }
}

.goods-section__link {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
  display: block;
  padding-top: 24px;
  padding-bottom: 30px;
  padding-left: 31px;

  &--interior {
    background-color: #63D1BB;
  }

  &--toys {
    background-color: #56C3B2;
  }
}



