.goods-section__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.goods-section__item {
  list-style-type: none;
}

.goods-section__link {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
  display: block;
  padding-top: 24px;
  padding-bottom: 30px;
  padding-left: 31px;

  &--interior {
    background-color: #63D1BB;
  }

  &--toys {
    background-color: #56C3B2;
  }
}
