  .hero {
    display: block;
    min-height: 373px;
  }

  .hero__background {

  &--index {
    background-image: url(/img/hero-mobile.jpg);
    background-repeat: no-repeat;
    min-height: 373px;
  }

  &--form {
    background-color: #f1f1f1;
    min-height: 177px;
  }

  &--catalog {
    background-color: #f1f1f1;
    min-height: 177px;
  }
}
