  .hero {
    display: block;
  }

  .hero__slogan {
    font-family: "Open Sans", sans-serif;
    font-size: 27px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;

    &--index {
      display: block;
      margin: 0 auto;
      text-align: center;
      padding-top: 73px;
      padding-bottom: 120px;
    }

    &--catalog {
      display: block;
      margin: 0 auto;
      text-align: center;
      padding-top: 73px;
    }

    &--form {
      display: block;
      margin: 0 auto;
      text-align: center;
      padding-top: 73px;
    }
  }

  .hero__background {

  &--index {
    background-image: url(/img/hero-mobile.jpg);
    background-size: cover;
  }

  &--form {
    background-color: #f1f1f1;
    min-height: 177px;
  }

  &--catalog {
    background-color: #f1f1f1;
    min-height: 177px;
  }
}
