.production-process {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-bottom: 58px;
}

.production-process__name {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  order: -2;
  margin: 0;
  margin-top: 21px;
  margin-left: 91px;
  margin-bottom: 27px;
}

.production-process__text {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
  margin-left: 34px;
  margin-bottom: 41px;
}

.production-process__video {
  order: -1;
}
