.product-week__title {
  font-family: "Open Sans" sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #63D1BB;
}

.product-week__name {
  font-family: "Open Sans" sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.product-week__text {
  font-family: "Open Sans" sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
}

.product-week__characteristics {
  font-family: "Open Sans" sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
}

.product-week__price {
  font-family: "Open Sans" sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #444444;
}
