.reviews__title {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  margin-left: 30px;
  margin-bottom: 14px;
}

.reviews__item {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  margin: 0;
  margin-left: 30px;
  margin-bottom: 30px;
}

.reviews__author-name {
  display: block;
  margin-top: 33px;
}

.reviews__nav {
  margin-bottom: 38px;
}
